<div class="row">
  <div class="col-12 col-md-6">
    <p>This site is an example of using the <a href="https://cuboulder.github.io/styleguide/">CU Boulder Web Style Guide</a> with <a href="https://getbootstrap.com">Bootstrap</a>.</p>
    <p>Images are provided by <a href="https://unsplash.com">Unsplash.com</a>.</p>
  </div>
  <div class="col-12 col-md-4 offset-md-2">
    <script type="text/javascript" src="//cuboulder.github.io/brand-assets/js/footer.js" id="ucb-footer-embed" data-color="white"></script>
  </div>
</div>
