<!DOCTYPE html>
<html lang='en' class=''>
	<head>
    <title>CU Boulder Bootstrap HTML Template</title>
		<meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cuboulder.github.io/styleguide/css/ucb-styles.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,900|Roboto+Condensed:700'>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	</head>
  <body class="background-color-black">
    <div class="page">
      <div class="background-black padding-vertical-small">
        <div class="container">
          <script type="text/javascript" src="https://cdn.colorado.edu/static/brand-assets/live/js/brand-bar.js" id="ucb-brand-bar-embed" data-color="black"></script>
        </div>
      </div>
      <header class="ucb light">
        <div class="container">
          CU Boulder Bootstrap HTML Template
          <div class="affiliation">Site Affiliation Region</div>
        </div>
      </header>
      <div class="background-color-gray-dark">
        <div class="container padding-none-horizontal">
          <nav class=" navbar navbar-expand-lg navbar-dark background-color-gray-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% include navigation.html %}
            </div>
          </nav>
        </div>
      </div>

      <div class="background-white padding-vertical-large">
        <div class="container">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>

      <div class="background-black padding-vertical">
        <div class="container">
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
